<a href="https://colab.research.google.com/github/Manar-n/MLCourse2019/blob/master/Portfolio_(1)_Tuesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portfolio Tuesday

We will be using the turnover dataset 

https://github.com/CALDISS-AAU/sdsphd19_coursematerials/raw/master/data/turnover.csv'

for this portfolio to do 3 things:

## Unsupervised ML

- Prepare the dataset (select the columns that are useful)
- Preprocess (Scale)
- Reduce dimensionality and perhaps make a scatterplot of the data
- Examine the reduced data

## Supervised ML

- Preprocess the data
- Try to predict "churn" using a simple model (Logistic Regression)
- Try a more advanced model (e.g. Random Forest)
- Evaluate your model
- Predict "satisfaction" (!!! This is a regression model)
- Evaluate the regression model

In [0]:
import pandas as pd

In [0]:
turnover = pd.read_csv('https://github.com/CALDISS-AAU/sdsphd19_coursematerials/raw/master/data/turnover.csv')

In [0]:
turnover.head()

   satisfaction  evaluation  number_of_projects  ...  promotion  department  salary
0          0.38        0.53                   2  ...          0       sales     low
1          0.80        0.86                   5  ...          0       sales  medium
2          0.11        0.88                   7  ...          0       sales  medium
3          0.72        0.87                   5  ...          0       sales     low
4          0.37        0.52                   2  ...          0       sales     low

[5 rows x 10 columns]

In [0]:
!pip install -qq -U matplotlib
import pandas as pd #Pandas handles tabular data
pd.set_option('display.float_format', lambda x: '%.3f' % x) # turn off scientific notation and too much decimal blah
import matplotlib.pyplot as plt # standard plotting library
import numpy as np #Numpy for linear algebra & co
import seaborn as sns # For pretty dataviz
sns.set_style("darkgrid")

     |████████████████████████████████| 13.1MB 185kB/s
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.

In [0]:
#Prepare the dataset (select the columns that are useful)
#Preprocess (Scale)
#Reduce dimensionality and perhaps make a scatterplot of the data
#Examine the reduced data

In [0]:
#turnover = turnover.drop(['churn'], axis = 1)

In [0]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
turnover['salary_enconded'] = encoder.fit_transform(turnover.salary)
turnover

       satisfaction  evaluation  ...  salary  salary_enconded
0             0.380       0.530  ...     low                1
1             0.800       0.860  ...  medium                2
2             0.110       0.880  ...  medium                2
3             0.720       0.870  ...     low                1
4             0.370       0.520  ...     low                1
...             ...         ...  ...     ...              ...
14994         0.400       0.570  ...     low                1
14995         0.370       0.480  ...     low                1
14996         0.370       0.530  ...     low                1
14997         0.110       0.960  ...     low                1
14998         0.370       0.520  ...     low                1

[14999 rows x 11 columns]

In [0]:
turnover = turnover.drop(['salary'], axis = 1)

In [0]:
department_dummies = pd.get_dummies(turnover.department)
pd.concat([turnover, department_dummies], axis = 1)

       satisfaction  evaluation  number_of_projects  ...  sales  support  technical
0             0.380       0.530                   2  ...      1        0          0
1             0.800       0.860                   5  ...      1        0          0
2             0.110       0.880                   7  ...      1        0          0
3             0.720       0.870                   5  ...      1        0          0
4             0.370       0.520                   2  ...      1        0          0
...             ...         ...                 ...  ...    ...      ...        ...
14994         0.400       0.570                   2  ...      0        1          0
14995         0.370       0.480                   2  ...      0        1          0
14996         0.370       0.530                   2  ...      0        1          0
14997         0.110       0.960                   6  ...      0        1          0
14998         0.370       0.520                   2  ...      0        1          0

[14999 rows x 20 columns]

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(turnover)

ValueError: ignored

In [0]:
salaries = {'low':1, 'medium':2, 'high':0}

In [0]:
turnover = turnover.drop(['department'], axis = 1)

In [0]:
#restart here!

In [0]:
turnover.salary.unique()

In [0]:
salary_mapper ={'low':0, 'medium':1, 'high':2}

In [0]:
turnover['salary_recode'] = turnover.salary.map(salary_mapper)

In [0]:
dep_matrix = pd.get_dummies(turnover.department)
turnover_all = pd.concat([turnover, dep_matrix], axis = 1)

In [0]:
turnover_all.drop(['department', 'churn', 'salary'], axis = 1, inplace = True)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(turnover_all)

In [0]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 18)

In [0]:
X_reduced = pca.fit_transform(X_scaled)

In [0]:
plot_data = pd.DataFrame({'evr': pca.explained_variance_ratio_, 'cumsum_evr': np.cumsum(pca.explained_variance_ratio_)}).stack()

In [0]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.lineplot(y = plot_data.values, x = plot_data.index.get_level_values(0), hue=plot_data.index.get_level_values(1))

In [0]:
pca.explained_variance_ratio_.sum()

In [0]:
pcscores = pd.DataFrame(X_reduced)
loadings = pd.DataFrame(pca.components_, columns=turnover_all.columns)
loadings.index = ['PC'+str(i+1) for i in range(len(pcscores.columns))]

In [0]:
ax = sns.heatmap(loadings.transpose(), center=0, linewidths=0.5, 
                 cmap="bone", vmin=-1, vmax=1, annot=True)

In [0]:
# Now we can plot in our points
plt.figure(figsize=(12,12))
g = sns.scatterplot(X_reduced[:,0], X_reduced[:,1],
                    legend='full', palette='viridis')

legend = g.get_legend()

In [0]:
#Supervised ML
#Preprocess the data
#Try to predict "churn" using a simple model (Logistic Regression)
#Try a more advanced model (e.g. Random Forest)
#Evaluate your model
#Predict "satisfaction" (!!! This is a regression model)
#Evaluate the regression model

In [0]:
turnover = pd.read_csv('https://github.com/CALDISS-AAU/sdsphd19_coursematerials/raw/master/data/turnover.csv')
salary_mapper ={'low':0, 'medium':1, 'high':2}
turnover['salary_recode'] = turnover.salary.map(salary_mapper)
dep_matrix = pd.get_dummies(turnover.department)
turnover_all = pd.concat([turnover, dep_matrix], axis = 1)
turnover_all.drop(['department', 'churn', 'salary'], axis = 1, inplace = True)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(turnover_all)

In [0]:
y = turnover['churn']

In [0]:
# Select the (independant) features that we are going to use to train the model
X = turnover_all

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(turnover_all)

In [0]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 5)

In [0]:
import altair as alt

In [0]:
# Import K-fold crossvalidation
from sklearn.model_selection import cross_val_score

# Import Classification Report for later evaluatoion of performance
from sklearn.metrics import classification_report

In [0]:
# Load and instantiate a LabelEncoder that will turn our text labels (regions into indices)
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [0]:
y_enc = encoder.fit_transform(y)
# Load and instantiate a StandardSclaer 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [0]:
# Apply the scaler to our X-features
X_scaled = scaler.fit_transform(X)

In [0]:
X_reduced = pca.fit_transform(X_scaled)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, X_reduced, test_size = 0.2, random_state = 42)

In [0]:
# Import modules that we are going to use for all models

# Import K-fold crossvalidation
from sklearn.model_selection import cross_val_score

# Import Classification Report for later evaluatoion of performance
from sklearn.metrics import classification_report

In [0]:
X_test

In [0]:
# Import and instantiate the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

# K-fold cross-validation (splitting the 80% into 5 chunks, using 4 to train and 1 to evaluate)
scores = cross_val_score(model, X_train, y_train, cv = 5)
print(scores)

# Model training
model.fit(X_train, y_train)

# Model performance on the test-set
print(model.score(X_test, y_test))

In [0]:
#actually, start here:

In [0]:
import pandas as pd
turnover = pd.read_csv('https://github.com/CALDISS-AAU/sdsphd19_coursematerials/raw/master/data/turnover.csv')
salary_mapper ={'low':0, 'medium':1, 'high':2}
turnover['salary_recode'] = turnover.salary.map(salary_mapper)
dep_matrix = pd.get_dummies(turnover.department)
turnover_all = pd.concat([turnover, dep_matrix], axis = 1)
turnover_all.drop(['department', 'churn', 'salary'], axis = 1, inplace = True)

In [0]:
# Select the (independant) features that we are going to use to train the model
X = turnover_all.loc[:,'satisfaction':'technical']

In [0]:
# Define the dependant variabel / target to predict (world region)
y = turnover['churn']

In [0]:
# Load and instantiate a LabelEncoder that will turn our text labels (regions into indices)
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [0]:
# Transform labels into indices by passing y to the encoder
y_enc = encoder.fit_transform(y)

In [0]:
# Load and instantiate a StandardSclaer 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [0]:
# Apply the scaler to our X-features
X_scaled = scaler.fit_transform(X)

In [0]:
# Split the data using the train_test_split module. We keep 20% of the data for testing and use 80% to train the model
# Random state defined with an arbitrary number for reproducibility

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_enc, test_size = 0.2, random_state = 42)

In [0]:
# Import modules that we are going to use for all models

# Import K-fold crossvalidation
from sklearn.model_selection import cross_val_score

# Import Classification Report for later evaluatoion of performance
from sklearn.metrics import classification_report

In [0]:
# Import and instantiate the model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

# K-fold cross-validation (splitting the 80% into 5 chunks, using 4 to train and 1 to evaluate)
scores = cross_val_score(model, X_train, y_train, cv = 5)
print(scores)

# Model training
model.fit(X_train, y_train)

# Model performance on the test-set
print(model.score(X_test, y_test))

In [0]:
# random forest

In [0]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

scores = cross_val_score(model, X_train, y_train, cv = 5)
print(scores)

model.fit(X_train, y_train)
print(model.score(X_test, y_test))

In [0]:
#predict satisfaction

In [0]:
y = turnover['satisfaction']

In [0]:
# Select the (independant) features that we are going to use to train the model
X = turnover_all.loc[:,'evaluation':'technical']

In [0]:
# Transform labels into indices by passing y to the encoder
y_enc = encoder.fit_transform(y)

In [0]:
# Apply the scaler to our X-features
X_scaled = scaler.fit_transform(X)

In [0]:
# Split the data using the train_test_split module. We keep 20% of the data for testing and use 80% to train the model
# Random state defined with an arbitrary number for reproducibility

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_enc, test_size = 0.2, random_state = 42)

In [0]:
# K-fold cross-validation (splitting the 80% into 5 chunks, using 4 to train and 1 to evaluate)
scores = cross_val_score(model, X_train, y_train, cv = 5)
print(scores)

# Model training
model.fit(X_train, y_train)

# Model performance on the test-set
print(model.score(X_test, y_test))